section
{
	display: flex;
	background-color: #CCCCCC;
/*	padding: 10px;*/
}

aside
{
	background-color: #CCCCCC;
	position: absolute;
	right: 8px;
	margin: 10px;
}

h3
{
	max-width: 100px;
}

p
{
	margin-left: 100px;
}

img
{
	max-height: 100px;
}

#main
{
	padding: 10px;
}